/* Estilos CSS para el imagen de cabecera */
#header {
    background-image: url('../imagenes/resplandor.png');
    background-color: #D6EBEE;
    background-size: auto;
    margin: 5px 0px;
    height: 130px;
    margin-top: 30px;
    
}
#logo {
    align-items: start;
    height: 120px;
    width: -webkit-fill-available;
}
body {
    background-color: #D6EBEE;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    margin: 0px 15%;
    overflow: scroll;
    padding-bottom: 10px;
}
.menu{
    color: #ffffff;
}
/* Estilos CSS para el pie de página */
#footer {
    background-color: #08A48C;
    text-align: center;
    width: 100%;
	color: #ffffff;
    margin: 0px 0px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 0px;
}
#footer p {
    margin: 0;
}

/* Estilos CSS para el menú */
nav {
    text-align: center;
    background-color: #08A48C;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

#consulta {
    border-radius: 8px;
    background-color: #ffffffbd;
    margin: 5px 0;
    font-family: Arial;
}
#consulta #modulo {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    font-family: Arial;
    text-align: justify;
    margin-bottom: 20px;
}

/* Estilos CSS para el contenido principal */
.content {
    text-align: center;
    padding: 0px 0;
    background-color: #ffffff;
    margin-top: 50px;
    margin: 5px 0px;
    border-radius: 5px;
}
.botonesheader{
	background-color: black;
	color: white;
	border: none; /* Elimina el borde del botón si lo hay */
    padding: 5px 5px; /* Ajusta el relleno del botón según sea necesario */
    border-radius: 5px;
}

#division{
	margin: 5;
}

#botonVerMas {
    display: flex;
    justify-content: center;
    align-items: center;
}

#info{
    width: -webkit-fill-available;
}

.titulo{
    font-size: x-large;
    font-family: Arial;
}
#nombre{
    width: 200px; /* Ajusta el ancho */
}
#peso{
    width: 50px;
}
#talla{
    width: 50px;
}
#sintomas{
    width: 500px;
    height: 200px;
}
#receta{
    width: 500px;
    height: 200px;
}
#form{
    margin: 0 15px
     5px;
    margin-right: auto;
}
/*
Verde Claro: #ABD7DA
Verde Fuerte: #08A48C
Verde Blanco: #D6EBEE
*/